<ion-header>
  <ion-toolbar>
    <ion-title>
      Pé de Rainha ©
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/logoof.svg" alt="" />
  </ion-card>
  <br>
    <ion-grid>
        <ion-row>    
          <ion-col>
            <div>
              <img class="logo6" src="/assets/13.png" routerLink="/tabs/listContato">
              <ion-title>Lista de Contatos</ion-title>
            </div>
          </ion-col>
          <ion-col>
              <br>
              <div>
                <img class="logo6" src="/assets/13.png" routerLink="/tabs/listProfissional">
                <ion-title>Perfil dos Profissionais</ion-title>
              </div>
            </ion-col>
            <ion-col>
              <br>
              <div>
                <img class="logo6" src="/assets/agenda.png" routerLink="/tabs/listAgendamento">
                <ion-title>Lista de Agendamentos</ion-title>
              </div>
            </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
