<ion-header>
  <ion-toolbar>
    <ion-title>Agendamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-text>
      <h4>Nome: {{agendamento.nome}}</h4>
      <p>Data: {{agendamento.data}}</p>
      <p>Horário: {{agendamento.horario}}</p>
      <p>Telefone: {{agendamento.telefone}}</p>
      <p>Procedimento: {{agendamento.procedimento}}</p>
      <p>Mensagem: {{agendamento.mensagem}}</p>
      <p>HomeCare: {{agendamento.homecare}}</p>
    </ion-text>
  </ion-item>
  <ion-item>
    <ion-button class="buttom" type="reset" color="danger" routerLink="/tabs/tab1">Inicio</ion-button>
  </ion-item>
</ion-content>