<ion-header>
  <ion-toolbar>
    <ion-title>Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fc="ngForm" (ngSubmit)="onsubmit(fc)">
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="contato.nome" name="nome" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Telefone</ion-label>
      <ion-input type="number" [(ngModel)]="contato.telefone" name="telefone" required></ion-input>
    </ion-item>
 
     <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" [(ngModel)]="contato.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Assunto</ion-label>
      <ion-input type="text" [(ngModel)]="contato.assunto" name="assunto" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Comentários</ion-label>
      <ion-input type="text" [(ngModel)]="contato.comentarios" name="comentarios" required></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button type="submit" color="primary">Salvar</ion-button>
      <ion-button type="reset" color="danger" routerLink="/">Cancelar</ion-button>
    </ion-item> 
  </form>
</ion-content>